<html>
	<head>
		<title>My Handlebar-express example</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</style>
	</head>

	<body>
	<img src="images/LG-LD950-3D-LCD-TV.jpg"></img>
	{{>header}}
	{{{body}}}
<br><br>
	{{>footer}}
	</body>

</html>