<div>
<h2>Add Product</h2>
<form action="/addproduct" method="post">
Product Name <input type="text" name="name"/><br>
Product Category <input type="text" name="category"/><br>
Product Price <input type="text" name="price"/><br>
Product Image <input type="img" name="img"/><br><br>
<input type="submit" value="Submit"/>


</div>