<div>
<a href="/">Home Page</a><br><br>
<h2>Here is your products list::</h2>

</div>

<div>
<h1>Products</h1>
{{#each rows}}
 <div> <a href="productdetails/{{ID}}">{{NAME}} </a>(${{PRICE}})</div>
 {{/each}}
</div>